@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

:root {
      --font: 'Outfit', sans-serif;
      --White: hsl(0, 0%, 100%);
      --Light-gray: hsl(212, 45%, 89%);
      --Grayish-blue: hsl(220, 15%, 55%);
      --Dark-blue: hsl(218, 44%, 22%);
      --radius: 25px;
}

.container {
      font-family: 'Outfit', sans-serif;
      background-color: var(--Light-gray);
      min-height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 15px;
}

.card {
      background-color: var(--White);
      padding: 1.2em;
      border-radius: var(--radius);
      display: flex;
      flex-direction: column;
      width: 25%;
}

.content {
      margin: 1em;
}

.card img {
      border-radius: 10px;
      margin-bottom: 1em;
}

.card h2 {
      color: var(--Dark-blue);
      font-weight: 700;
      line-height: 1.3em;
      margin-bottom: 1em;
      margin-left: 0.4em;
}

.card p {
      color: var(--Grayish-blue);
      line-height: 1.3em;
      font-weight: 400;
      text-align: center;
}

@media (max-width:375px) {
      .card {
            width: 90%;
      }

      .card h2 {
            font-size: 1.5em;
            margin-left: 5px;
      }
}